body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #001021;
}

h1,
h2 {
  color: #1481BA;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  /* width: 50%; */
}

.todo-listItems {
  width: 90vw;
}

.todo-item {
  background-color: #11B5E4;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.item-content,
.update-item-content {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.item-description,
.item-due-date,
.update-item-description,
.update-item-due-date {
  font-size: 0.8em;
  margin: 0;
}
.nav-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::-moz-placeholder {
  color: transparent;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:-moz-placeholder-shown~.form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__field:placeholder-shown~.form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #1481BA, #034748);
  border-image: linear-gradient(to right, #1481BA, #034748);
  /* -o-border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image: linear-gradient(to right, #11998e, #38ef7d); */
  border-image-slice: 1;
}

.form__field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #1481BA;
  font-weight: 700;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.date {
  width: 65%;
  color-scheme: dark;
}

.DateAdd {
  display: flex;
  justify-content: space-between;
}

.AddTask {
  --c: #38ef7d;
  /* the color*/
  color: #fff;
  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
    var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.add{
  width: 20%;
}
#title{
  font-weight:900;
}

.AddTask:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}

.AddTask:active {
  box-shadow: 0 0 9e9q inset #0009;
  background-color: var(--c);
  color: #fff;
}


.AddTask {
  font-family: system-ui, sans-serif;
  font-size: 1em;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;
  border: none;
}

.item-due-date,.update-due-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chkbx {
  height: 20px;
  width: 20px;
}


.checkbox-label {
  font-size: 0.7em;
}

.button-group {
  display: flex;
  flex-direction: row;
  float: right;
}

.delete-item,
.update-item {
  font-size: 0.8em;
  margin-right: 1%;
}

.delete-item {
  --c: red;
}

.update-item {
  --c: blue;
}

hr {
  color: #000000 !important;
  width: 90vw;
}

.taskCard {
  padding: 2%;
  color: #001021;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.todo-listItems {
  margin-top: 0;
  background-color: #11B5E4 !important;
  max-height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
h1{
  margin: 0 0 0 0;
}
h2 {
  margin: 15px 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.todo-listItems::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.todo-listItems {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.update-item-description,
.update-item-due-date,.update-item-content{
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1%;
  border: none;
  border-radius: 1em;
  animation: color-flash 2s infinite;
}

@keyframes color-flash {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}

.sortBy{
  font-family: Helvetica, sans-serif;
  color: #808080;
  font-size: 12px;
}

#sortBy {
  padding: 8px;
  border: none;
  /* border-radius: 4px; */
  font-size: 14px;
  background-color: #ffffff00;
  color: #1481BA;
}

#sortBy option {
  background-color: #fff;
  color: #1481BA;
}

#sortBy option:hover {
  background-color: #f5f5f5;
}

#sortBy option:checked {
  font-weight: bold;
}

.completed .item-content,
.completed .item-description {
  text-decoration: line-through;
}

.completed{
  opacity: 0.8;
}